<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CLA Organization Deleted</title>
        <link rel="stylesheet"
              href="https://assets.ubuntu.com/v1/vanilla-framework-version-4.15.0.min.css" />
    </head>
    <body>
        <div class="row">
            <image src="https://assets.ubuntu.com/v1/563c0d9b-_Canonical.svg"
                   alt="Canonical Logo"
                   width="200px" />
        </div>
        <div class="row p-strip">
            <h1>Organization deleted</h1>
            <div class="p-notification p-notification--positive">
                <div class="p-notification__content">
                    <h5 class="p-notification__title">{{ organization_name }} has been deleted.</h5>
                    <p>An email has been sent to the organization's contact email to notify them of the status update.</p>
                    <p>You can now close this window.</p>
                </div>
            </div>
        </div>
    </body>
</html>
